* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

:root {
    --primary: #e63946;
    --secondary: #c1121f;
    --tertiary: #333333;
    --quarternary: #6c757d;
    --quinary: #f8f9fa;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
    color: var(--tertiary);
    background-color: #ffffff;
}

/* HEADER */

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    /* box-shadow: 0 10px 15px rgba(0, 0, 0, 0.08); */
    background-color: #ffffff;
    z-index: 999;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
}

header .container .logo {
    transition: all .4s ease;
}

header .container .logo:hover {
    transform: scale(1.1);
}

.logo a {
    font-size: 2.1rem;
    font-weight: 700;
    color: var(--tertiary);
    cursor: pointer;
}

.logo a span {
    color: var(--primary);
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    position: relative;
    margin-left: 4rem;
    transition: all .3s linear;
}

nav ul li:hover {
    transform: scale(1.1);
}

nav ul li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -5px;
    background-color: var(--primary);
    transition: all .3s ease;
}

nav ul li:hover::after {
    width: 100%;
}

nav ul li a {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--tertiary);
    transition: all .3s ease;
}

nav ul li a:hover {
    color: var(--primary);
}

#hamburger {
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 1.8rem;
}

#hamburger input {
    position: absolute;
    width: 3.5rem;
    height: 2.8rem;
    top: -0.4rem;
    left: -0.55rem;
    opacity: 0;
    cursor: pointer;
    z-index: 99;
}

#hamburger span {
    display: block;
    width: 2.5rem;
    height: .3rem;
    background-color: var(--tertiary);
    transition: all .5s;
}

#hamburger span:nth-child(2) {
    transform-origin: 0 0;
}

#hamburger span:last-child {
    transform-origin: 0 100%;
}

#hamburger input:checked~span:nth-child(2) {
    background-color: var(--secondary);
    transform: rotate(45deg) translate(-1px, -1px);
}

#hamburger input:checked~span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
}

#hamburger input:checked~span:last-child {
    background-color: var(--secondary);
    transform: rotate(-45deg) translate(-1px, 0);
}

/* RESPONSIVE BREAKPOINTS */

/* lg */
@media (max-width: 992px) {
    html {
        font-size: 15px;
    }
}

/* md */
@media (max-width: 768px) {
    nav ul {
        position: absolute;
        width: 66%;
        height: 88vh;
        flex-direction: column;
        justify-content: space-evenly;
        top: 0;
        right: -100%;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        opacity: 0;
        transition: all .5s;
    }

    nav ul.active {
        right: 0;
        opacity: 1;
    }

    #hamburger {
        display: flex;
    }
}

/* sm */
@media (max-width: 576px) {
    html {
        font-size: 12px;
    }

    nav ul li {
        margin-left: 2rem;
    }
}